.card {
  position: relative;
  cursor: pointer;

  .content {
    width: 75px;
    display: block;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 75px;
  }

  .front {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(90deg);
    position: absolute;
    font-size: 40pt;
    background-color: darken($color: white, $amount: 10);
    pointer-events: none;
  }

  .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    background-color: #1c1c1c;
  }
}

.flipped {
  .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

  .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}
