.card {
  position: relative;
}

.card .content {
  width: 200px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  height: 100px;
}

.card .front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(90deg);
  position: absolute;
  font-size: 40pt;
  background-color: darken($color: white, $amount: 10);
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  background-color: darken($color: blue, $amount: 40);
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
